<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite" parallel="tests" thread-count="1">
    <listeners>
        <!-- //testng的XML配置文件中添加这些内容 -->
       <!-- <listener class-name="com.netease.qa.testng.TestngRetry" /> -->
       <listener class-name="com.netease.qa.testng.TestResultListener" />
       <listener class-name="com.netease.qa.testng.RetryListener" />
    </listeners>
    <test name="a64c4287d540">
        <parameter name="udid" value="a64c4287d540"/>
        <parameter name="port" value="4491"/>
        <classes>
            <class name="cn.crazy.appium.testcases.ZhihuZhihuTest"/>
        </classes>
    </test>
</suite>
