<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite" parallel="tests" thread-count="1">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="a64c4287d540">
        <parameter name="udid" value="a64c4287d540"/>
        <parameter name="port" value="4491"/>
        <classes>
            <class name="cn.crazy.appium.testcases.ZhihuZhihuTest"/>
        </classes>
    </test>
</suite>
